.metering-devices-list {
    width: 100%;
}

.table {
    width: 100%;

    &__header-row {
        background-color: rgba(0,0,0,.04);
    }

    &__row:nth-child(even) {
        background-color: rgba(0,0,0,.04);
    }
}
